@if (showMainLayout) {
  <div class="app-container">
    <app-header (periodoCambiado)="onPeriodoCambiado($event)"/>
    @if (showDTEsContent) {
      <main class="main-content">
        <div class="container">
          <app-dte-tabs 
            [tabActiva]="tabActiva"
            (tabCambiada)="onTabCambiada($event)"
          />
          <app-dte-table [dtes]="dtes" />
          <app-upgrade-modal *ngIf="mostrarUpgrade" (close)="cerrarUpgrade()" />
        </div>
      </main>
    }
    @if (!showDTEsContent) {
      <router-outlet />
    }
  </div>
}

@if (!showMainLayout) {
  <router-outlet />
}
